#root {
  background-color: #14171c;
  color: #556678;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
}

main {
  width: 100%;
  max-width: 1080px;
  text-align: center;
}

.poster-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
}

@media (max-width: 800px) {
  main {
    max-width: 600px;
  }

  .poster-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

@media (max-width: 400px) {
  .poster-grid {
    grid-template-columns: 1fr; /* 1 column */
  }

  main {
    max-width: 300px;
  }
}

.movie-poster,
.empty-slot {
  background-color: red;
}

.movie-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
